<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!--Servlets-->
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>com.devzone.controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderViewControllerServlet</servlet-name>
        <servlet-class>com.devzone.controller.OrderViewControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductViewControllerServlet</servlet-name>
        <servlet-class>com.devzone.controller.ProductViewControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMaterialControllerServlet</servlet-name>
        <servlet-class>com.devzone.controller.AllMaterialControllerServlet</servlet-class>
    </servlet>
    <!--Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Login/New</url-pattern>
        <url-pattern>/Login/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderViewControllerServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
        <url-pattern>/Order/OrderInfo</url-pattern>\
        <url-pattern>/Order/FormAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductViewControllerServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
        <url-pattern>/Product/FormAction</url-pattern>
        <url-pattern>/Product/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMaterialControllerServlet</servlet-name>
        <url-pattern>/Portfolio</url-pattern>
    </servlet-mapping>
    <!--Welcome Files-->
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/Client/ShoppingList</location>
    </error-page>
</web-app>
